@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
}

main {
  display: flex;
  min-height: 1100px;
}

.main-left {
  width: 40%;
  padding-top: 60px;
  padding-left: 140px;
  max-width: 500px;
  background: #000;
  background-image: url("../image/polestar-star.jpg");
  background-position: 0 0;
  background-size: cover;
}

.main-left h1 {
    font-size: 52px;
    color: #ffffff;
    text-transform: capitalize;
}

.main-left h2 {
    font-size: 36px;
    color: #fff;
    width: 300px;
    text-transform: capitalize;
    line-height: 0px;
}

h1, h2, h3, .lead, .title, .nav a {
  font-family: 'Arial-medial', sans-serif;
}

h1 {
  font-size: 20px;
}

h2 {
  margin-top: 50px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

.lead {
  font-size: 20px;
  margin: 20px 0;
  line-height: 20px;
  margin-bottom: 30px;
}

.main-right {
  width: 60%;
  max-width: 650px;
  padding-top: 100px;
  padding-left: 50px;
  background: #fff;
}

.main-right .nav {
  list-style: none;
  display: flex;
}

.main-right .nav li {
  padding: 0 10px;
}

.main-right .nav li:first-child {
  padding-left: 0;
}

.main-right .nav li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.main-right .nav li a:hover,
.main-right .nav li a:active {
  padding-bottom: 4px;
  border-bottom: 1px dashed #ddd;
  color: rgb(0, 191, 255);
}

.news-item {
  margin-bottom: 20px;
}

.news-item p {
  margin: 0;
  margin-bottom: 15px;
}

.news-item h2 {
  margin: 0;
  margin-bottom: 10px;
}

.news-item .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.news-item a {
  color: rgb(65, 144, 170);
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}

.news-item a:hover {
  color: rgb(0, 191, 255);
}

.gallery-items img {
  width: 32%;
  opacity: 0.7;
  border: 1px solid #ddd;
}

.gallery-items img:hover {
  border-color: #777;
  opacity: 1;
  cursor: pointer;
}

/* Popup styling */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup-content img {
  width: 100%;
  margin-top: 10px;
}

#popup-toggle-factors:checked + .popup {
  display: block;
    z-index: 3;
}

#popup-toggle-extend:checked + .popup-extend {
  display: block;
    z-index: 4;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.clickable-text {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.clickable-text:hover {
  color: darkblue;
}


